<div style="height: 100vh;" class="d-flex align-items-center justify-content-center flex-wrap flex-column">
  <h2 style="color: burlywood;font-weight: bolder;" class="text-center mt-5">Random Quotes Generator</h2>
  <div class="card">
    <img class="img-fluid" style="opacity: 75%;" src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvam9iMjk1LXBsb3ktMDFhLTA1LmpwZw.jpg" class="card-img" alt="...">
    <div class="card-img-overlay d-flex align-items-center flex-column justify-content-center">
     <blockquote class="w-75  text-center mt-5">
        <q style="color: rgb(105, 47, 5);" class="fw-bolder dancing-script mt-5 ">{{randomQuote.quote}}</q>
        <p class="fs-3 mt-2 blockquote-footer">{{randomQuote.author}}</p>
     </blockquote>
      <button (click)="generateQuote()" class="btn border rounded-pill p-2 btn-warning w-25 mt-5">NEXT</button>
    </div>
  </div>
</div>